@import url('./style.css');

.btn {
    color: var(--cor-cinza-aco) !important;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

.btn-primary {
    color: var(--cor-titulo) !important;
    background-color: var(--cor-primaria-azul);
}

.btn-secondary {
    background-color: var(--cor-titulo);
}

.btn-third {
    background-color: #00000010;
    outline: 1px solid var(--cor-cinza-aco);
}

.btn-third:hover {
    color: var(--cor-titulo) !important;
    background-color: var(--cor-cinza-aco);
}

.btn-fourth {
    color: var(--cor-primaria-azul) !important;
    background-color: var(--cor-titulo);
    outline: 1px solid var(--cor-primaria-azul);
}

.btn-fourth:hover {
    color: var(--cor-titulo) !important;
    background-color: var(--cor-primaria-azul);
}