@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    list-style: none;
}

:root {
    /* VARIÁVEIS DE TAMANHO/ESPAÇAMENTO */
    --header-heigth: 5rem;

    /* VARIÁVEIS DE COR */
    --cor-primaria: #080808; /*#1F68FE*/
    --cor-hover: #6397ff;
    --cor-branco: #ffffff;

    --cor-fundo: #ffffff;
    --cor-fundo-escuro: #404040;

    --cor-invisivel: #00000000;

    /* BOTÕES DO TIPO 1 */
    --cor-botao1-primary: var(--cor-primaria);
    --cor-botao1-outline: var(--cor-botao1-primary);
    --cor-botao1-hover: var(--cor-invisivel);

    /* PARA OS BOTÕES DO TIPO 2 */
    --cor-botao2-primary: var(--cor-fundo);
    --cor-botao2-outline: var(--cor-primaria);
    --cor-botao2-hover: var(--cor-primaria);
}

/* TAGS DA ESTRUTURA */
html {
    gap: 16px;
    font-size: 16px;
}

body {
    background-color: var(--cor-fundo);
}

header {
    width: 100%;
    height: var(--header-heigth);
    background-color: var(--cor-primaria);
    position: fixed;
}

header a {
    color: var(--cor-fundo);
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

header a:hover {
    color: var(--cor-hover);
}

main {
    padding-top: var(--header-heigth);
}

section {
    padding: 1.25rem;
}

/* TAGS DE ORGANIZAÇÃO E RESPONSIVIDADE */
.container {
    width: 90%;
    height: 90%;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.between {
    justify-content: space-between;
}

.align-text {
    text-align: center;
}

.align-center {
    align-items: center;
}

.gap-minimo {
    gap: 1rem;
}

.gap-medio {
    gap: 1.15rem;
}

.gap-grande {
    gap: 3rem;
}

/* ALTERAÇÕES DE TEXTO */
.bold {
    font-weight: 700;
}

.black {
    font-weight: 900;
}

.destaque {
    color: var(--cor-primaria);
}

.titulo {
    font-size: 2rem;
}

.subtitulo {
    font-size: 1.2rem;
}

/* CLASSES DE BOTÕES PARA PADRONIZAR */
.btn {
    border: none;

    font-size: .9rem;
    border-radius: .5rem;
    padding: .5rem 1rem;
    outline: 1px solid black;

    /* TRANSIÇÃO SUAVE */
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn1-primary {
    background-color: var(--cor-botao1-primary);
    outline-color: var(--cor-botao1-primary);
    color: var(--cor-branco)
}

.btn2-primary {
    background-color: var(--cor-botao2-primary);
    outline-color: var(--cor-botao2-hover);
    color: var(--cor-botao2-hover)
}

/* AÇÕES DO BOTÃO */
.btn1-primary:hover {
    background-color: var(--cor-botao1-hover);
    color: var(--cor-botao1-primary);
}

.btn2-primary:hover {
    background-color: var(--cor-botao2-hover);
    color: var(--cor-botao2-primary);
}

/* ESTRUTURA */
.banner {
    height: 15rem;
    padding: 3rem;
}

/* CARDS (DO GUIA) */
.cards {
    width: 60%;
}

.card {
    width: 20em;
    padding: 1.25rem;
    outline: 1px solid var(--cor-primaria);
    border-radius: 1rem;
}

.card-destaque {
    background-color: var(--cor-primaria);
    color: var(--cor-fundo)
}

/* CARDS (DOS BENEFÍCIOS) */
.cards-bene {
    width: 80%;
}

.card-bene {
    width: 12em;
    height: 7rem;
    padding: 1.25rem;
    outline: 1px solid var(--cor-primaria);
    border-radius: 1rem;
}

/* RESPONSIVIDADE E OS COMPORTAMENTOS */
.menu-mobile,
.menu-hamburguer {
    display: none;
}

@media (max-width: 700px) {

    /* .menu-mobile, */
    .menu-hamburguer {
        display: block;
    }

    .menu-principal {
        display: none;
    }
}