{% extends 'templateDashboard.html' %}

{% block conteudo %}
<div class="container">
    <div class="sidebar">
        <div class="logo">
            <div class="logo-icon">
                <img src="{{url_for('static', filename='img/icon-looma.png')}}" alt="Logo do Sistema">
            </div>
            <span class="logo-text">Looma</span>
        </div>

        <div class="user-profile">
            <img src="{{url_for('static', filename='img/profile.png')}}" alt="Avatar" class="avatar">
            <span class="user-name">Olá, {{session['usuario'][1].split()[:2] | join(' ')}}</span>
        </div>

        <div class="navigation">
            <button class="nav-button active" data-section="painel">
                <a href="{{url_for('dashboard')}}">Painel</a>
            </button>
            <button class="nav-button active" data-section="painel">
                <a href="{{url_for('nova_simulacao')}}">Nova Simulação</a>
            </button>
            <button class="nav-button inactive" data-section="taxa-juros">
                <a href="{{url_for('transacoes')}}">Transações</a>
            </button>
            <button class="nav-button inactive" data-section="nova-taxa">
                <a href="{{url_for('perfil')}}">Perfil</a>
            </button>
            <button class="nav-button inactive" data-section="nova-taxa">
                <a href="{{url_for('taxas')}}">Tabela de Taxas</a>
            </button>
        </div>

        <div class="sign-out">
            <button class="nav-button inactive"> <a href="{{url_for('logout')}}">Sair da Conta</a></button>
        </div>

        <div class="bottom-profile">
            <img src="{{url_for('static', filename='img/profile.png')}}" alt="Avatar" class="bottom-avatar">
            <div class="profile-info">
                <div class="profile-name">{{session['usuario'][1].split()[:2] | join(' ')}}</div>
                <div class="profile-email">{{session['usuario'][2]}}</div>
            </div>
        </div>
    </div>
    <main class="main">
        <section class="card card-editar-perfil">
            <h2 class="card-title">Editar Usuário</h2>
            <form class="form">
                <div class="field">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" class="input" required>
                </div>
                <div class="field">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" class="input" required>
                </div>
                <div class="field">
                    <label for="cpf">CPF:</label>
                    <input type="text" id="cpf" name="cpf" class="input" required>
                </div>
                <div class="field">
                    <label for="senha">Senha:</label>
                    <input type="password" id="senha" name="senha" class="input">
                </div>
                <div class="field">
                    <label for="nova-senha">Nova Senha:</label>
                    <input type="password" id="nova-senha" name="nova-senha" class="input">
                </div>
                <div class="actions-row">

                    <button type="submit" class="btn btn-primary btn-lg"><a href="dashboard_usuario.html">Salvar</a>
                    </button>
                    <button type="button" class="btn btn-outline btn-lg"> <a
                            href="dashboard_usuario.html">Cancelar</a></button>
                </div>
            </form>
        </section>
    </main>
</div>
{% endblock %}