{% extends 'templateDashboard.html' %}

{% block conteudo %}
<div class="container">
    {% include 'components/sidebar.html' %}
    <main class="main">
        <section class="card card-editar-perfil">
            <h2 class="card-title">Editar Usuário</h2>
            <form class="form">
                <div class="field">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" class="input" required>
                </div>
                <div class="field">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" class="input" required>
                </div>
                <div class="field">
                    <label for="cpf">CPF:</label>
                    <input type="text" id="cpf" name="cpf" class="input" required>
                </div>
                <div class="field">
                    <label for="senha">Senha:</label>
                    <input type="password" id="senha" name="senha" class="input">
                </div>
                <div class="field">
                    <label for="nova-senha">Nova Senha:</label>
                    <input type="password" id="nova-senha" name="nova-senha" class="input">
                </div>
                <div class="actions-row">
                    <button type="submit" class="btn btn-primary btn-lg"><a href="dashboard_usuario.html">Salvar</a> </button>
                    <button type="button" class="btn btn-outline btn-lg"> <a href="dashboard_usuario.html">Cancelar</a></button>
                </div>
            </form>
        </section>
    </main>
</div>
{% endblock %}