{% extends 'templateDashboard.html' %}

{% block conteudo %}
<div class="container">
    <div class="sidebar">
        <div class="logo">
            <div class="logo-icon">
                <img src="{{url_for('static', filename='img/icon-looma.png')}}" alt="Logo do Sistema">
            </div>
            <span class="logo-text">Looma</span>
        </div>

        <div class="user-profile">
            <img src="{{url_for('static', filename='img/profile.png')}}" alt="Avatar" class="avatar">
            <span class="user-name">Olá, {{session['usuario'][1].split()[:2] | join(' ')}}</span>
        </div>

        <div class="navigation">
            <button class="nav-button active" data-section="painel">
                <a href="{{url_for('dashboard')}}">Painel</a>
            </button>
            <button class="nav-button active" data-section="painel">
                <a href="{{url_for('nova_simulacao')}}">Nova Simulação</a></button>
            <button class="nav-button inactive" data-section="taxa-juros">
                <a href="{{url_for('transacoes')}}">Transações</a>
            </button>
            <button class="nav-button inactive" data-section="nova-taxa">
                <a href="{{url_for('perfil')}}">Perfil</a>
            </button>
            <button class="nav-button inactive" data-section="nova-taxa">
                <a href="{{url_for('taxas')}}">Tabela de Taxas</a>
            </button>
        </div>

        <div class="sign-out">
            <button class="nav-button inactive"> <a href="{{url_for('logout')}}">Sair da Conta</a></button>
        </div>

        <div class="bottom-profile">
            <img src="{{url_for('static', filename='img/profile.png')}}" alt="Avatar" class="bottom-avatar">
            <div class="profile-info">
                <div class="profile-name">{{session['usuario'][1].split()[:2] | join(' ')}}</div>
                <div class="profile-email">{{session['usuario'][2]}}</div>
            </div>
        </div>
    </div>

    <main class="main">
        <section class="card">
            <h2 class="card-title">Simulação de Empréstimo</h2>

            <form class="form" action="#" method="get">
                <div class="field">
                    <label class="label" for="valor">Valor Desejado:</label>
                    <input id="valor" name="valor" type="text" class="input" placeholder="Digite o valor desejado" />
                </div>

                <div class="field">
                    <label class="label label--center" for="ano">Ano do Empréstimo</label>
                    <input id="ano" name="ano" type="text" class="input" placeholder="Digite o ano" />
                </div>

                <div class="field">
                    <label class="label" for="adm">Administrador da Taxa Anual:</label>
                    <input id="adm" name="adm" type="text" class="input" placeholder="Digite o administrador" />
                </div>

                <div class="field">
                    <label class="label" for="prazo">Prazo (Meses):</label>
                    <input id="prazo" name="prazo" type="text" class="input" placeholder="Digite o prazo em meses" />
                </div>

                <div class="actions-row">


                    <button type="submit" class="btn btn--primary"><a
                            href="resultado_simulacao.html">Simular</a></button>
                    <button type="reset" class="btn btn--outline"><a href="dashboard_usuario.html">Cancelar</a></button>

                </div>
            </form>
        </section>
    </main>
</div>
{% endblock %}