{% extends 'templateDashboard.html' %}

{% block conteudo %}
<div class="container">
    {% include 'components/sidebar.html' %}
    <div class="main-content">
        <div class="content-wrapper">
            <h1 class="main-title">Tabela de Taxas de Juros</h1>
            
            <!-- Tabela para Desktop -->
            <div class="table-container">
                <div class="table">
                    <div class="table-row table-header">
                        <div class="table-cell">Ano</div>
                        <div class="table-cell">Taxa Mensal</div>
                        <div class="table-cell">Data Criação</div>
                        <div class="table-cell">Quem Modificou?</div>
                        <div class="table-cell">Ações</div>
                    </div>
                    {% for taxa in taxas %}
                    <div class="table-row">
                        <div class="table-cell">{{taxa[1]}}</div>
                        <div class="table-cell">{{taxa[2]}}%</div>
                        <div class="table-cell">{{taxa[3]}}</div>  <!-- Data já formatada -->
                        <div class="table-cell">{{taxa[4]}}</div>
                        <div class="table-cell actions">
                            <a href="{{url_for('editar_taxa', id=taxa[0])}}" class="btn-edit">Editar</a>
                            <a href="{{url_for('excluir_taxa', id=taxa[0])}}" class="btn-delete">Excluir</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}