<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="assets/js/app.js"> -->
    <link rel="shortcut icon" href="{{url_for('static', filename='img/icon-looma.png')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/responsivo.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/dashboard de todo.css')}}">
    <title>Dashboard Empresário</title>
</head>
<body class="dashboard-admin">
    <header class="cabecalho-principal">
        <a href="{{url_for('index')}}">
            <img class="logo-icon" src="{{url_for('static', filename='img/Logo_redondo.png')}}" alt="Looma">
        </a>

        <button class="menu-hamburguer" id="btnMenu" aria-label="Abrir menu">
            <span></span>
            <span></span>
            <span></span>
        </button>

        {% include 'components/mobile-nav.html' %}
    </header>

    <div class="alert-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert {{ category }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    {% block conteudo %}
    {% endblock %}

    <footer class="footer-mobile">
        <div class="conteudo-rodape">
            <a href="{{url_for('index')}}" class="logo-rodape">
                <img width="150" src="{{url_for('static', filename='img/Logo do footer.png')}}" alt="Logo Looma">
            </a>
            <div class="icones-sociais">
                <a href="#"><img src="{{url_for('static', filename='img/FACEBOOK.png')}}" alt="Facebook"></a>
                <a href="#"><img src="{{url_for('static', filename='img/WHATSAPP.png')}}" alt="WhatsApp"></a>
                <a href="#"><img src="{{url_for('static', filename='img/INSTAGRAM.png')}}" alt="Instagram"></a>
                <a href="#"><img src="{{url_for('static', filename='img/TWITTER.png')}}" alt="Twitter"></a>
            </div>
        </div>
        <div class="direitos-autorais">
            <p>&copy; 2025 Looma. Todos os direitos reservados.</p>
        </div>
    </footer>

    <script src="{{url_for('static', filename='js/app.js')}}"></script>
</body>
</html>