<nav class="menu-mobile" id="menuMobile">
    <button class="fechar-menu" id="btnFechar" aria-label="Fechar menu">&times;</button>
    
    <ul>
        <li><a href="{{url_for('dashboard')}}" class="nav-link active" data-section="painel">Painel</a></li>
        {% if session['usuario'][4] == 'user' %}
        <li><a href="{{url_for('nova_simulacao')}}" class="nav-link active" data-section="painel">Nova Simulação</a></li>
        <li><a href="{{url_for('transacoes')}}" class="nav-link" data-section="taxa-juros">Transações</a></li>
        {% else %}
        <li><a href="{{url_for('nova_taxa')}}" class="nav-link" data-section="nova-taxa">Nova Taxa</a></li>
        {% endif %}
        <li><a href="{{url_for('perfil')}}" class="nav-link" data-section="nova-taxa">Perfil</a></li>
        <li><a href="{{url_for('taxas')}}" class="nav-link" data-section="taxa-juros">Tabela de Taxas</a></li>
        <li><a href="{{url_for('logout')}}" class="nav-link" data-section="taxa-juros">Sair da Conta</a></li>
    </ul>
</nav>